/*** DEFINITION OF GLOBAL FONTS, COLORS ***/

@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:wght@700;900&display=swap');

$soft-red: rgb(254, 120, 103);
$yellow: rgb(250, 212, 0);
$dark-desat-cyan: rgb(37, 86, 75);
$dark-blue: rgb(25, 83, 107);
$dark-moderate-cyan: rgb(69, 140, 126);

$very-dark-desat-blue: rgb(35, 48, 62);
$very-dark-grayish-blue: rgb(90, 99, 108);
$dark-grayish-blue: rgb(129, 132, 152);
$grayish-blue: rgb(167, 171, 174);
$white: rgb(255, 255, 255);

$beige: rgb(255, 252, 250);

$font-size: 18px;
$font-barlow: 'Barlow', sans-serif;
$font-fraunces: 'Fraunces', serif;

/*** IMPORTING OTHER SCSS FILES ***/

@import "_navbar";
@import "_footer";

/*** CUSTOM CLASSES ***/

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

/***** some base definitions from https://piccalil.li/blog/a-modern-css-reset/ *****/
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p {
  margin: 0;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/*** MAIN STYLE ***/

body {
  font-size: $font-size;
  font-family: $font-barlow;
  font-weight: 600;
  max-width: 1440px;
  color: $white;
  background-color: $white;
  overflow-x: hidden;

  @media screen and (min-width: 1441px) {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
  }
}

main {
  color: $very-dark-desat-blue;
}

.hero-container {
  background-image: url('../images/desktop/image-header.jpg');
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  background-size: cover;
  text-align: center;

  h1 {
    font-size: 2.75rem;
    color: $white;
    font-family: $font-fraunces;
    letter-spacing: 5px;
    text-transform: uppercase;
    padding-top: 20vh;

    @media screen and (max-width: 628px) {
      padding-left: 30px;
      padding-right: 30px;
    }

    @media screen and (max-width: 375px) {
      font-size: 1.5rem;
    }
  }

  .arrow-down {
    position: absolute;
    left: 50%;
    top: 55%;
    transform: translate(-50%, -55%);
    animation: arrowMovement infinite 0.8s ease-in alternate-reverse;

    @media screen and (min-width: 1441px) {
      position: relative;
      left: 50%;
      top: 300%;
      transform: translate(-50%, -300%);
    }
  }

  @media screen and (max-width: 628px) {
    background-image: url('../images/mobile/image-header.jpg');
  }
}

.first-container {
  height: 70vh;
  background-color: $beige;

  .first-info {
    width: 50vw;

    @media screen and (max-width: 628px) {
      width: auto;
      height: 100vh;
    }
  }

  .transform-image-container {
    width: 50vw;
    background-image: url('../images/desktop/image-transform.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    @media screen and (max-width: 628px) {
      background-image: url('../images/mobile/image-transform.jpg');
      width: auto;
      min-height: 40vh;
    }
  }

  @media screen and (max-width: 628px) {
    flex-direction: column-reverse;
  }
}

.second-container {
  height: 70vh;
  background-color: $beige;

  .second-info {
    width: 50vw;

    @media screen and (max-width: 628px) {
      width: auto;
    }
  }

  .stand-out-image-container {
    width: 50vw;
    background-image: url('../images/desktop/image-stand-out.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    @media screen and (max-width: 628px) {
      background-image: url('../images/mobile/image-stand-out.jpg');
      width: auto;
      height: 100vh;
    }
  }

  @media screen and (max-width: 628px) {
    flex-direction: column;
  }
}

.info-container {
  text-align: left;
  justify-content: space-evenly;
  align-self: center;
  padding: 5vh 10vw;
  min-height: 50%;

  h3 {
    font-family: $font-fraunces;
    font-weight: 900;
    font-size: 2.35rem;

    @media screen and (max-width: 546px) {
      // margin-top: 4vh;
      margin-bottom: 1vh;
      font-size: 1.85rem;
    }
  }

  .desc {
    color: $dark-grayish-blue;
    font-size: 1.05rem;
    line-height: 30px;

    @media screen and (max-width: 546px) {
      font-size: 0.85rem;
      line-height: 25px;
    }
  }

  a {
    display:inline-block;
    line-height: 0.4em;
    text-decoration: none;
    width: 125px;
    text-align: center;
    border-bottom: 7px solid rgb(253, 243, 185);
    text-transform: uppercase;
    font-size: 1rem;
    font-family: $font-fraunces;
    font-weight: 900;
    color: $very-dark-desat-blue;
    margin-top: 30px;
    transition: all 0.1s ease-in-out;

    &:hover {
      border-bottom: 7px solid $yellow;
    }
  }

  .second-learn-more {
    border-bottom: 7px solid rgb(255, 233, 229);

    &:hover {
      border-bottom: 7px solid $soft-red;
    }
  }

  @media screen and (max-width: 628px) {
    text-align: center;
    align-items: center;
  }
}

.third-container {
  height: 65vh;

  h4 {
    font-family: $font-fraunces;
    font-size: 1.5rem;
    font-weight: 900;
    margin-bottom: 2vh;

    @media screen and (max-width: 628px) {
      padding: 0px 30px;
      font-size: 1.25rem;
    }
  }

  .desc {
    font-size: 1.1rem;
    opacity: 0.8;
    line-height: 30px;
    padding: 0vh 8vw;
    margin-bottom: 5vh;

    @media screen and (max-width: 700px) {
      font-size: 1rem;
    }

    @media screen and (max-width: 628px) {
      font-size: 0.9rem;
    }
  }

  .fourth-desc {
    margin-bottom: 8.8vh;

    @media screen and (max-width: 628px) {
      margin-bottom: 4vh;
    }
  }

  .third-info {
    width: 50vw;
    justify-content: flex-end;
    background-image: url('../images/desktop/image-graphic-design.jpg');
    background-repeat: no-repeat;
    background-position: center 0px;
    background-size: cover;
    text-align: center;
    color: $dark-desat-cyan;

    @media screen and (max-width: 2241px) and (min-width: 1895px) {
      padding-bottom: 3.4vh;
    }

    @media screen and (max-width: 872px) and (min-width: 825px) {
      padding-bottom: 3.4vh;
    }

    @media screen and (max-width: 1226px) and (min-width: 1064px) {
      padding-bottom: 3.4vh;
    }

    @media screen and (max-width: 628px) {
      min-height: 50vh;
      width: 100vw;
    }
  }

  .fourth-info {
    width: 50vw;
    justify-content: flex-end;
    background-image: url('../images/desktop/image-photography.jpg');
    background-repeat: no-repeat;
    background-position: center 0px;
    background-size: cover;
    text-align: center;
    color: $dark-blue;

    @media screen and (max-width: 628px) {
      min-height: 50vh;
      width: 100vw;
    }
  }

  @media screen and (max-width: 628px) {
    height: 100vh;
    flex-direction: column;
  }
}

.testimonials-section {
  min-height: 100vh;
  background-color: $beige;
  text-align: center;

  h4 {
    font-family: $font-fraunces;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-weight: 900;
    margin-top: 10vh;
    margin-bottom: 12vh;
    font-size: 1.25rem;
    color: $grayish-blue;

    @media screen and (max-width: 628px) {
      margin-bottom: 5vh;
    }
  }

  .testimonials-container {
    min-height: 50%;
    align-items: baseline;

    .testimonial {
      align-items: center;
      width: calc(100vw / 3);
      height: 480px;
      justify-content: space-evenly;
      padding: 0px 50px;
  
      .person-image {
        width: 70px;
        height: 70px;
        border-radius: 50%;
        margin-bottom: 50px;

        @media screen and (max-width: 628px) {
          margin-bottom: 0px;
        }
      }

      .testimonial-desc {
        color: $very-dark-desat-blue;
        font-size: 1.2rem;
        line-height: 30px;
        opacity: 0.95;
        margin-bottom: 3vh;

        @media screen and (max-width: 1024px) {
          font-size: 1rem;
        }

        @media screen and (max-width: 628px) {
          margin-bottom: 0vh;
        }
      }

      .person-name {
        font-family: $font-fraunces;
        font-weight: 900;
        font-size: 1.4rem;
        margin-bottom: 1.5vh;

        @media screen and (max-width: 628px) {
          margin-bottom: 0.5vh;
        }
      }

      .person-job {
        color: $grayish-blue;

        @media screen and (max-width: 628px) {
          font-size: 0.9rem;
          margin-bottom: 3vh;
        }
      }

      @media screen and (max-width: 720px) {
        padding: 0px 30px;
      }

      @media screen and (max-width: 628px) {
        width: 100vw;
        height: 300px;
        padding-right: 0px 80px;
      }
    }

    @media screen and (max-width: 628px) {
      height: 100%;
      flex-direction: column;
    }
  }

  @media screen and (max-width: 628px) {
    height: 100%;
    justify-content: center;
  }
}

.image-container {
  max-width: 1440px;
  
  img {
    width: calc(100% / 4);

    @media screen and (max-width: 628px) {
      width: 100%;
    }
  }

  @media screen and (max-width: 628px) {
    display: none;
  }
}

.image-container-mobile {
  @media screen and (min-width: 628px) {
    display: none;
  }
}

/*** ANIMATIONS ***/
@keyframes arrowMovement {
  0% {
    top: 55%;
  }
  100% {
    top: 58%;
  }
}